<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8"/>
    <title>Metronic | Portlets - General Portlets</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <script src="../media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <link href="../media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../media/image/favicon.ico"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        function findNews(id) {
            axios.get('http://localhost:8080/findNewsById?id=' + id, {}).then(function (response) {
                var data = response.data;
                console.log(data);
                $("#id").val(data.id);
                $("#id").attr("value", data.id);
                $("#title").val(data.title);
                $("#title").attr("value", data.title);
                $("#content").val(data.content);
                $("#content").attr("value", data.content);
            })
        };

        function deleteNewsById(id) {
            axios.get('http://localhost:8080/deleteNewsById', {
                params: {
                    'id': id
                }
            })
                .then(function (response) {
                    console.log(response);
                    location.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

        <div class="container-fluid">

            <!-- BEGIN LOGO -->

            <a class="brand" href="../index.html">

                <img src="../media/image/logo.png" alt="logo"/>

            </a>

            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->

            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                <img src="../media/image/menu-toggler.png" alt=""/>

            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->

            <ul class="nav pull-right">

                <!-- BEGIN NOTIFICATION DROPDOWN -->

                <li class="dropdown" id="header_notification_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <i class="icon-warning-sign"></i>

                        <span class="badge">6</span>

                    </a>

                    <ul class="dropdown-menu extended notification">

                        <li>

                            <p>You have 14 new notifications</p>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-success"><i class="icon-plus"></i></span>

                                New user registered.

                                <span class="time">Just now</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-important"><i class="icon-bolt"></i></span>

                                Server #12 overloaded.

                                <span class="time">15 mins</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-warning"><i class="icon-bell"></i></span>

                                Server #2 not respoding.

                                <span class="time">22 mins</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-info"><i class="icon-bullhorn"></i></span>

                                Application error.

                                <span class="time">40 mins</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-important"><i class="icon-bolt"></i></span>

                                Database overloaded 68%.

                                <span class="time">2 hrs</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-important"><i class="icon-bolt"></i></span>

                                2 user IP blocked.

                                <span class="time">5 hrs</span>

                            </a>

                        </li>

                        <li class="external">

                            <a href="#">See all notifications <i class="m-icon-swapright"></i></a>

                        </li>

                    </ul>

                </li>

                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN INBOX DROPDOWN -->

                <li class="dropdown" id="header_inbox_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <i class="icon-envelope"></i>

                        <span class="badge">5</span>

                    </a>

                    <ul class="dropdown-menu extended inbox">

                        <li>

                            <p>You have 12 new messages</p>

                        </li>

                        <li>

                            <a href="inbox.html?a=view">

                                <span class="photo"><img src="../media/image/avatar2.jpg" alt=""/></span>

                                <span class="subject">

								<span class="from">Lisa Wong</span>

								<span class="time">Just Now</span>

								</span>

                                <span class="message">

								Vivamus sed auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="inbox.html?a=view">

                                <span class="photo"><img src="../media/image/avatar3.jpg" alt=""/></span>

                                <span class="subject">

								<span class="from">Richard Doe</span>

								<span class="time">16 mins</span>

								</span>

                                <span class="message">

								Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="inbox.html?a=view">

                                <span class="photo"><img src="../media/image/avatar1.jpg" alt=""/></span>

                                <span class="subject">

								<span class="from">Bob Nilson</span>

								<span class="time">2 hrs</span>

								</span>

                                <span class="message">

								Vivamus sed nibh auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>

                            </a>

                        </li>

                        <li class="external">

                            <a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>

                        </li>

                    </ul>

                </li>

                <!-- END INBOX DROPDOWN -->

                <!-- BEGIN TODO DROPDOWN -->

                <li class="dropdown" id="header_task_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <i class="icon-tasks"></i>

                        <span class="badge">5</span>

                    </a>

                    <ul class="dropdown-menu extended tasks">

                        <li>

                            <p>You have 12 pending tasks</p>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">New release v1.2</span>

								<span class="percent">30%</span>

								</span>

                                <span class="progress progress-success ">

								<span style="width: 30%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Application deployment</span>

								<span class="percent">65%</span>

								</span>

                                <span class="progress progress-danger progress-striped active">

								<span style="width: 65%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Mobile app release</span>

								<span class="percent">98%</span>

								</span>

                                <span class="progress progress-success">

								<span style="width: 98%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Database migration</span>

								<span class="percent">10%</span>

								</span>

                                <span class="progress progress-warning progress-striped">

								<span style="width: 10%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Web server upgrade</span>

								<span class="percent">58%</span>

								</span>

                                <span class="progress progress-info">

								<span style="width: 58%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Mobile development</span>

								<span class="percent">85%</span>

								</span>

                                <span class="progress progress-success">

								<span style="width: 85%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li class="external">

                            <a href="#">See all tasks <i class="m-icon-swapright"></i></a>

                        </li>

                    </ul>

                </li>

                <!-- END TODO DROPDOWN -->

                <!-- BEGIN USER LOGIN DROPDOWN -->

                <li class="dropdown user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" style="width: 29px;height:29px;"
                             th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}==null?@{media/image/avatar1_small.jpg}:${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}"/>
                        <!--<img src="E:/uploadFile/image/xiaohuangren.jpg" alt="">-->
                        <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}"></span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/findLoginUser}"><i class="icon-user"></i> 我的信息</a></li>
                        <li><a th:href="@{/administrative/changeImage.html}"><i class="icon-github"></i> 更换头像</a></li>
                        <li><a th:href="@{/administrative/punch_lock.html}"><i class="icon-calendar"></i> 打卡</a></li>
                        <li><a th:href="@{/logout}"><i class="icon-off"></i> 退出</a></li>
                    </ul>
                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->

        </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

</div>

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar nav-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu">

            <li>

                <div class="sidebar-toggler hidden-phone">
                </div>

            </li>

            <li>

                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                <form class="sidebar-search">

                    <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        <input type="text" placeholder="Search..."/>
                        <input type="button" class="submit" value=" "/>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>

            <!--行政管理-->

            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_HR')">
                <a class="active" href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span class="title">行政管理</span>

                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">人事管理
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/findAllUser}">职工基本信息管理</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT')"><a th:href="@{/findDept}">部门信息管理</a></li>
                            <li><a th:href="@{/findUserBySalary}">职工工资管理</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT')">
                        <a href="javascript:;">
                            考勤管理
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;">考勤规则
                                <span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a th:href="@{administrative/lock_time.html}">考勤时间</a></li>
                                    <li><a th:href="@{administrative/person_ruler.html}">人性化规则</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <!--公文管理-->
            <li sec:authorize="hasAnyRole('ROLE_ROOT', 'ROLE_HR', 'ROLE_MOF', 'ROLE_MUD', 'ROLE_MUR','ROLE_MUN','ROLE_MOL','ROLE_MOI','ROLE_MFS','ROLE_MUC','ROLE_MCS','ROLE_LS')">
                <a href="javascript:;">
                    <i class="icon-user"></i>
                    <span class="title">公文管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')">
                        <a th:href="@{/findDocumentTemplate}">
                            公文设计</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','MOF','ROLE_MUD','ROLE_MOR','ROLE_MON','ROLE_MOL')">
                        <a th:href="@{/findDocument}">
                            公文的上传和下载</a>
                    </li>
                </ul>
            </li>
            <!--档案管理-->
            <li>
                <a class="active" href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span class="title">档案管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a th:href="@{/findLoginUser}">个人档案
                        </a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','MOF','ROLE_MUD','ROLE_MOR','ROLE_MON','ROLE_MOL')">
                        <a href="javascript:;">部门档案
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOF')"><a
                                    th:href="@{/findFile(fileType='财政部')}">财政部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MUD')"><a
                                    th:href="@{/findFile(fileType='城建部')}">城建部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOR')"><a
                                    th:href="@{/findFile(fileType='交通部')}">交通部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON')"><a
                                    th:href="@{/findFile(fileType='新闻部')}">新闻部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOL')"><a
                                    th:href="@{/findFile(fileType='后勤部')}">后勤部</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT')">
                        <a th:href="@{/findFile(fileType='政府')}">政府档案
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--新闻管理-->
            <li class="active">
                <a href="javascript:;">
                    <i class="icon-file-text"></i>
                    <span class="title">新闻管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')">
                        <a href="news/release_news.html">
                            发布新闻</a>
                    </li>
                    <li class="active"
                        sec:authorize="hasAnyRole('ROLE_ROOT', 'ROLE_HR', 'ROLE_MOF', 'ROLE_MUD', 'ROLE_MUR','ROLE_MUN','ROLE_MOL','ROLE_MOI','ROLE_MFS','ROLE_MUC','ROLE_MCS','ROLE_LS')">
                        <a th:href="@{/findAllNews}">
                            查看新闻</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- END SIDEBAR MENU -->

    </div>

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>portlet Settings</h3>

            </div>

            <div class="modal-body">

                <p>Here will be a configuration form</p>

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN STYLE CUSTOMIZER -->

                    <div class="color-panel hidden-phone">
                        <div class="color-mode-icons icon-color"></div>
                        <div class="color-mode-icons icon-color-close"></div>
                        <div class="color-mode">
                            <p>主题色彩</p>
                            <ul class="inline">
                                <li class="color-black current color-default" data-style="default"></li>
                                <li class="color-blue" data-style="blue"></li>
                                <li class="color-brown" data-style="brown"></li>
                                <li class="color-purple" data-style="purple"></li>
                                <li class="color-grey" data-style="grey"></li>
                                <li class="color-white color-light" data-style="light"></li>

                            </ul>

                            <label>

                                <span>布局</span>
                                <select class="layout-option m-wrap small">
                                    <option value="fluid" selected>流体</option>
                                    <option value="boxed">盒状</option>
                                </select>

                            </label>

                            <label>

                                <span>头部</span>
                                <select class="header-option m-wrap small">
                                    <option value="fixed" selected>固定</option>
                                    <option value="default">默认</option>
                                </select>
                            </label>

                            <label>

                                <span>侧边栏</span>
                                <select class="sidebar-option m-wrap small">
                                    <option value="fixed">固定</option>
                                    <option value="default" selected>默认</option>
                                </select>

                            </label>

                            <label>
                                <span>页脚</span>
                                <select class="footer-option m-wrap small">
                                    <option value="fixed">固定</option>
                                    <option value="default" selected>默认</option>
                                </select>
                            </label>

                        </div>

                    </div>

                    <!-- END BEGIN STYLE CUSTOMIZER -->

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">
                        新闻管理
                        <small>查看新闻</small>
                    </h3>

                    <ul class="breadcrumb">

                        <li>
                            <i class="icon-home"></i>
                            <a th:href="@{/index}">主页</a>
                            <i class="icon-angle-right"></i>
                        </li>

                        <li>
                            <a href="#">新闻管理</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">查看新闻</a></li>

                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>


            <div class="row-fluid">
                <div class="span4 " th:each="news:${list}" style="float:left;padding: 0px;margin: 7px">
                    <div class="portlet box grey">
                        <div class="portlet-title">
                            <div class="caption" th:text="${news.title}"><i class="icon-reorder"></i>新闻一</div>
                            <div class="actions">
                                <a sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')" href=""
                                   th:onclick="'findNews('+${news.id}+')'" class="btn yellow mini"
                                   data-toggle="modal" data-target="#myModal"><i
                                        class="icon-pencil"></i>编辑</a>
                                <a sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')"
                                   onclick=" confirm('确定删除?');" th:onclick="'deleteNewsById('+${news.id}+')'"
                                   class="btn red mini"><i
                                        class="icon-remove"></i> 删除</a>
                            </div>
                        </div>

                        <div>
                            <div class="portlet-body">
                                <div class="scroller" data-height="200px">
                                    <strong th:text="${news.title}">韩庚卢靖姗合体游印度！晒照帮导游打广告太接地气</strong><br/>
                                    <div th:text="${news.content}">
                                        韩庚和女友卢靖姗公开恋情后，就爱得特别高调，不仅一起过情人节，一起回家过年，还被直击已见双方父母了。2月24日，卢靖姗通过微博晒和韩庚一起印度旅游的照片，并和当地人一起合影为导游打广告，十分的接地气。稍后，韩庚转发并甜蜜回应，爱意十足。
                                        2月24日，卢靖姗通过微博晒与韩庚一起在印度度假和当地人的合照，并称：“印度旅途上碰上了温暖，诚实，好心的一家人。Ganesh
                                        只有18岁他是一个开船的小伙子，梦想是做一个世界导游。他妈妈Sarasvati
                                        是一个单身妈妈在市场里面卖自己做的项链，一个人带3个小孩。如果你们想去瓦亚纳西，真的推荐这小伙子当导游。”
                                        照片中，韩庚戴着墨镜，留着板寸头，十分的帅气，卢靖姗扎着马尾，淡妆出镜，皮肤白皙，灿烂的笑容，两人一起与当地居民合影，非常的接地气。稍后，韩庚转发并甜蜜回应，称：“这广告打得有点硬，这次旅行中遇到了很多很温暖很好的人，感谢他们带着我们感受到了不一样的神奇的旅程！”
                                        此微博曝光后，网友纷纷围观并留言表示羡慕，称：“看到庚哥秀恩爱莫名开心！”“我酸了我的男孩！”“旅途愉快，玩够了回来开工。”
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">新闻信息</h4>
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <!-- 模态框主体 -->
                        <form th:action="@{updateNews}" method="post">
                            <div class="modal-body">
                                <div class="control-group">
                                    <label class="control-label">新闻编号<span
                                            class="required">*</span></label>
                                    <div class="controls">
                                        <input type="text" value="" readonly name="id" id="id"
                                               data-required="1" class="span8 m-wrap"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">新闻标题<span
                                            class="required">*</span></label>
                                    <div class="controls">
                                        <input type="text" value="" name="title"
                                               id="title" data-required="1" class="span8 m-wrap"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">新闻内容<span
                                            class="required">*</span></label>
                                    <div class="controls">
                                        <textarea name="content" id="content" cols="30" rows="10"></textarea>
                                    </div>
                                </div>


                            </div>
                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">保存</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    关闭
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- BEGIN FOOTER -->

<div class="footer">

    <div class="footer-inner">

        2019 &copy; gk by nuc.edu.cn from <a href="http://www.nuc.edu.cn/" title="中北大学" target="_blank">中北大学</a>

    </div>

    <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

    </div>

</div>


<script src="../media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="../media/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../media/js/excanvas.min.js"></script>
<script src="../media/js/respond.min.js"></script>
<script src="../media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../media/js/app.js"></script>

<script>

    jQuery(document).ready(function () {

        App.init();

    });


</script>

<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>