<!--<!DOCTYPE html>-->
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="utf-8"/>
    <title>Metronic | Admin Dashboard Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="../media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../media/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/daterangepicker.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="../media/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="../media/image/favicon.ico"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

        <div class="container-fluid">

            <!-- BEGIN LOGO -->

            <a class="brand" href="../index.html">

                <img src="../media/image/logo.png" alt="logo"/>

            </a>

            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->

            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                <img src="../media/image/menu-toggler.png" alt=""/>

            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->

            <ul class="nav pull-right">

                <!-- BEGIN NOTIFICATION DROPDOWN -->

                <li class="dropdown" id="header_notification_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <i class="icon-warning-sign"></i>

                        <span class="badge">6</span>

                    </a>

                    <ul class="dropdown-menu extended notification">

                        <li>

                            <p>You have 14 new notifications</p>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-success"><i class="icon-plus"></i></span>

                                New user registered.

                                <span class="time">Just now</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-important"><i class="icon-bolt"></i></span>

                                Server #12 overloaded.

                                <span class="time">15 mins</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-warning"><i class="icon-bell"></i></span>

                                Server #2 not respoding.

                                <span class="time">22 mins</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-info"><i class="icon-bullhorn"></i></span>

                                Application error.

                                <span class="time">40 mins</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-important"><i class="icon-bolt"></i></span>

                                Database overloaded 68%.

                                <span class="time">2 hrs</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <span class="label label-important"><i class="icon-bolt"></i></span>

                                2 user IP blocked.

                                <span class="time">5 hrs</span>

                            </a>

                        </li>

                        <li class="external">

                            <a href="#">See all notifications <i class="m-icon-swapright"></i></a>

                        </li>

                    </ul>

                </li>

                <!-- END NOTIFICATION DROPDOWN -->

                <!-- BEGIN INBOX DROPDOWN -->

                <li class="dropdown" id="header_inbox_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <i class="icon-envelope"></i>

                        <span class="badge">5</span>

                    </a>

                    <ul class="dropdown-menu extended inbox">

                        <li>

                            <p>You have 12 new messages</p>

                        </li>

                        <li>

                            <a href="inbox.html?a=view">

                                <span class="photo"><img src="../media/image/avatar2.jpg" alt=""/></span>

                                <span class="subject">

								<span class="from">Lisa Wong</span>

								<span class="time">Just Now</span>

								</span>

                                <span class="message">

								Vivamus sed auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="inbox.html?a=view">

                                <span class="photo"><img src="../media/image/avatar3.jpg" alt=""/></span>

                                <span class="subject">

								<span class="from">Richard Doe</span>

								<span class="time">16 mins</span>

								</span>

                                <span class="message">

								Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="inbox.html?a=view">

                                <span class="photo"><img src="../media/image/avatar1.jpg" alt=""/></span>

                                <span class="subject">

								<span class="from">Bob Nilson</span>

								<span class="time">2 hrs</span>

								</span>

                                <span class="message">

								Vivamus sed nibh auctor nibh congue nibh. auctor nibh

								auctor nibh...

								</span>

                            </a>

                        </li>

                        <li class="external">

                            <a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>

                        </li>

                    </ul>

                </li>

                <!-- END INBOX DROPDOWN -->

                <!-- BEGIN TODO DROPDOWN -->

                <li class="dropdown" id="header_task_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <i class="icon-tasks"></i>

                        <span class="badge">5</span>

                    </a>

                    <ul class="dropdown-menu extended tasks">

                        <li>

                            <p>You have 12 pending tasks</p>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">New release v1.2</span>

								<span class="percent">30%</span>

								</span>

                                <span class="progress progress-success ">

								<span style="width: 30%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Application deployment</span>

								<span class="percent">65%</span>

								</span>

                                <span class="progress progress-danger progress-striped active">

								<span style="width: 65%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Mobile app release</span>

								<span class="percent">98%</span>

								</span>

                                <span class="progress progress-success">

								<span style="width: 98%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Database migration</span>

								<span class="percent">10%</span>

								</span>

                                <span class="progress progress-warning progress-striped">

								<span style="width: 10%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Web server upgrade</span>

								<span class="percent">58%</span>

								</span>

                                <span class="progress progress-info">

								<span style="width: 58%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

								<span class="task">

								<span class="desc">Mobile development</span>

								<span class="percent">85%</span>

								</span>

                                <span class="progress progress-success">

								<span style="width: 85%;" class="bar"></span>

								</span>

                            </a>

                        </li>

                        <li class="external">

                            <a href="#">See all tasks <i class="m-icon-swapright"></i></a>

                        </li>

                    </ul>

                </li>

                <!-- END TODO DROPDOWN -->

                <!-- BEGIN USER LOGIN DROPDOWN -->

                <li class="dropdown user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" style="width: 29px;height:29px;"
                             th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}==null?@{media/image/avatar1_small.jpg}:${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}"/>
                        <!--<img src="E:/uploadFile/image/xiaohuangren.jpg" alt="">-->
                        <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}"></span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/findLoginUser}"><i class="icon-user"></i> 我的信息</a></li>
                        <li><a th:href="@{/administrative/changeImage.html}"><i class="icon-github"></i> 更换头像</a></li>
                        <li><a th:href="@{/administrative/punch_lock.html}"><i class="icon-calendar"></i> 打卡</a></li>
                        <li><a th:href="@{/logout}"><i class="icon-off"></i> 退出</a></li>
                    </ul>
                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->

        </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

</div>

<!-- END HEADER -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar nav-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu">

            <li>

                <div class="sidebar-toggler hidden-phone">
                </div>

            </li>

            <li>

                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                <form class="sidebar-search">

                    <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        <input type="text" placeholder="Search..."/>
                        <input type="button" class="submit" value=" "/>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>

            <!--行政管理-->

            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_HR')" class="active">
                <a class="active" href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span class="title">行政管理</span>

                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">人事管理
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/findAllUser}">职工基本信息管理</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT')"><a th:href="@{/findDept}">部门信息管理</a></li>
                            <li><a th:href="@{/findUserBySalary}">职工工资管理</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT')">
                        <a href="javascript:;">
                            考勤管理
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;">考勤规则
                                <span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a th:href="@{administrative/lock_time.html}">考勤时间</a></li>
                                    <li><a th:href="@{administrative/person_ruler.html}">人性化规则</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <!--公文管理-->
            <li sec:authorize="hasAnyRole('ROLE_ROOT', 'ROLE_HR', 'ROLE_MOF', 'ROLE_MUD', 'ROLE_MUR','ROLE_MUN','ROLE_MOL','ROLE_MOI','ROLE_MFS','ROLE_MUC','ROLE_MCS','ROLE_LS')">
                <a href="javascript:;">
                    <i class="icon-user"></i>
                    <span class="title">公文管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')">
                        <a th:href="@{/findDocumentTemplate}">
                            公文设计</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','MOF','ROLE_MUD','ROLE_MOR','ROLE_MON','ROLE_MOL')">
                        <a th:href="@{/findDocument}">
                            公文的上传和下载</a>
                    </li>
                </ul>
            </li>
            <!--档案管理-->
            <li>
                <a class="active" href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span class="title">档案管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a th:href="@{/findLoginUser}">个人档案
                        </a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','MOF','ROLE_MUD','ROLE_MOR','ROLE_MON','ROLE_MOL')">
                        <a href="javascript:;">部门档案
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOF')"><a
                                    th:href="@{/findFile(fileType='财政部')}">财政部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MUD')"><a
                                    th:href="@{/findFile(fileType='城建部')}">城建部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOR')"><a
                                    th:href="@{/findFile(fileType='交通部')}">交通部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON')"><a
                                    th:href="@{/findFile(fileType='新闻部')}">新闻部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOL')"><a
                                    th:href="@{/findFile(fileType='后勤部')}">后勤部</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT')">
                        <a th:href="@{/findFile(fileType='政府')}">政府档案
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--新闻管理-->
            <li>
                <a href="javascript:;">
                    <i class="icon-file-text"></i>
                    <span class="title">新闻管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')">
                        <a href="news/release_news.html">
                            发布新闻</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT', 'ROLE_HR', 'ROLE_MOF', 'ROLE_MUD', 'ROLE_MUR','ROLE_MUN','ROLE_MOL','ROLE_MOI','ROLE_MFS','ROLE_MUC','ROLE_MCS','ROLE_LS')">
                        <a th:href="@{/findAllNews}">
                            查看新闻</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- END SIDEBAR MENU -->

    </div>

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN STYLE CUSTOMIZER -->

                    <div class="color-panel hidden-phone">
                        <div class="color-mode-icons icon-color"></div>
                        <div class="color-mode-icons icon-color-close"></div>
                        <div class="color-mode">
                            <p>主题色彩</p>
                            <ul class="inline">
                                <li class="color-black current color-default" data-style="default"></li>
                                <li class="color-blue" data-style="blue"></li>
                                <li class="color-brown" data-style="brown"></li>
                                <li class="color-purple" data-style="purple"></li>
                                <li class="color-grey" data-style="grey"></li>
                                <li class="color-white color-light" data-style="light"></li>

                            </ul>

                            <label>

                                <span>布局</span>
                                <select class="layout-option m-wrap small">
                                    <option value="fluid" selected>流体</option>
                                    <option value="boxed">盒状</option>
                                </select>

                            </label>

                            <label>

                                <span>头部</span>
                                <select class="header-option m-wrap small">
                                    <option value="fixed" selected>固定</option>
                                    <option value="default">默认</option>
                                </select>
                            </label>

                            <label>

                                <span>侧边栏</span>
                                <select class="sidebar-option m-wrap small">
                                    <option value="fixed">固定</option>
                                    <option value="default" selected>默认</option>
                                </select>

                            </label>

                            <label>
                                <span>页脚</span>
                                <select class="footer-option m-wrap small">
                                    <option value="fixed">固定</option>
                                    <option value="default" selected>默认</option>
                                </select>
                            </label>

                        </div>

                    </div>

                </div>

            </div>
            <!-- END PAGE HEADER-->
            <!--上班打卡-->
            <div style="position: absolute; width:1px; height: 260px;margin-left:320px;background-color: grey ;"></div>
            <div style="color: grey;margin-left: 350px">
                上班时间08:00
            </div>
            <strong>
                <div id="intime" style="color: black;margin-left: 350px">
                </div>
            </strong>
            <div id="clockIn" style="text-align: center;margin-top: 30px;">
                <button style="background-color: #0b94ea;color:white;width: 200px;height: 200px;border-radius: 50% !important;border: none">
                    <div><a th:onclick="'clockIn()'" style="color: white;text-decoration: none">上班打卡</a>
                    </div>
                    <div id="punch"></div>
                </button>
            </div>
            <!--下班打卡-->
            <div style="color: grey;margin-left: 350px">
                下班时间18:00
            </div>
            <strong>
                <div id="outtime" style="color: black;margin-left: 350px">
                </div>
            </strong>
            <div id="clockOut" style="text-align: center;margin-top: 30px; visibility: hidden">
                <button style="background-color: #0b94ea;color:white;width: 200px;height: 200px;border-radius: 50% !important;border: none">
                    <div><a href="#" th:onclick="'clockOut()'" style="text-decoration: none;color: white">下班打卡</a>
                    </div>
                    <div id="lock"></div>
                </button>
            </div>
        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->

<div class="footer">

    <div class="footer-inner">
        2019 &copy; gk by nuc.edu.cn from <a href="http://www.nuc.edu.cn/" title="中北大学" target="_blank">中北大学</a>
    </div>

    <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

    </div>

</div>

<script src="../media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="../media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="../media/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../media/js/excanvas.min.js"></script>
<script src="../media/js/respond.min.js"></script>
<script src="../media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.world.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="../media/js/jquery.vmap.sampledata.js" type="text/javascript"></script>
<script src="../media/js/jquery.flot.js" type="text/javascript"></script>
<script src="../media/js/jquery.flot.resize.js" type="text/javascript"></script>
<script src="../media/js/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="../media/js/date.js" type="text/javascript"></script>
<script src="../media/js/daterangepicker.js" type="text/javascript"></script>
<script src="../media/js/jquery.gritter.js" type="text/javascript"></script>
<script src="../media/js/fullcalendar.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.easy-pie-chart.js" type="text/javascript"></script>
<script src="../media/js/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="../media/js/app.js" type="text/javascript"></script>
<script src="../media/js/index.js" type="text/javascript"></script>


<script>

    jQuery(document).ready(function () {

        App.init(); // initlayout and core plugins
        Index.init();
        Index.initJQVMAP(); // init index page's custom scripts
        Index.initCalendar(); // init index page's custom scripts
        Index.initCharts(); // init index page's custom scripts
        Index.initChat();
        Index.initMiniCharts();
        Index.initDashboardDaterange();
        Index.initIntro();

    });
    window.onload = function () {
        var punch = document.getElementById("punch");
        var lock = document.getElementById("lock");
        var index = sessionStorage.getItem("a");
        var b = sessionStorage.getItem("b");
        var latetime = sessionStorage.getItem("latetime");
        var hours = sessionStorage.getItem("hours");
        var hours2 = sessionStorage.getItem("hours2");
        var minutes = sessionStorage.getItem("minutes");
        var minutes2 = sessionStorage.getItem("minutes2");
        var outlocktime = sessionStorage.getItem("outlocktime");
        if (index) {
            document.getElementById("clockIn").style.visibility = "hidden";
            document.getElementById("clockOut").style.visibility = "visible";
            if (latetime > 0) {
                document.getElementById("intime").innerHTML = '打卡时间' + sessionStorage.getItem("intime") + ',' + '迟到' + hours + '小时' + minutes + '分钟';
            } else {
                document.getElementById("intime").innerHTML = '打卡时间' + sessionStorage.getItem("intime");
            }

        }
        if (b) {
            document.getElementById("clockOut").style.visibility = "hidden";
            if (outlocktime > 0) {
                document.getElementById("outtime").innerHTML = '打卡时间' + sessionStorage.getItem("outtime") + ',' + '早退' + hours2 + '小时' + minutes2 + '分钟';
            } else {
                document.getElementById("outtime").innerHTML = '打卡时间' + sessionStorage.getItem("outtime");
            }
        }
        setInterval(function () {
            var time = new Date();   // 程序计时的月从0开始取值后+1
            var t = time.getHours() + ":"
                + time.getMinutes() + ":" + time.getSeconds();
            punch.innerHTML = t;
            lock.innerHTML = t;
        }, 1000);

    };

    function clockIn() {
        sessionStorage.setItem("a", false);
        alert('上班打卡成功');
        document.getElementById("clockIn").style.visibility = "hidden";
        var punch = document.getElementById("punch");
        intime = punch.innerHTML;
        intime1 = punch.innerHTML;
        intime1 = new Date();
        /**
         * 计算迟到时间
         * @type {number}
         */
        var lockdate = intime1.getTime();
        var latetime = lockdate - new Date(new Date().toLocaleString().split(' ')[0] + ' 08:00:00').getTime();
        var hours = Math.floor(latetime / (3600 * 1000));
        var level = latetime % (3600 * 1000);
        var minutes = Math.floor(level / (60 * 1000));
        sessionStorage.setItem("intime", intime);
        sessionStorage.setItem("latetime", latetime);
        sessionStorage.setItem("hours", hours);
        sessionStorage.setItem("level", level);
        sessionStorage.setItem("minutes", minutes);
        if (latetime > 0) {
            document.getElementById("intime").innerHTML = '打卡时间' + sessionStorage.getItem("intime") + ',' + '迟到' + hours + '小时' + minutes + '分钟';
        } else {
            document.getElementById("intime").innerHTML = '打卡时间' + sessionStorage.getItem("intime");
        }
        document.getElementById("clockOut").style.visibility = "visible";

        axios.get('http://localhost:8080/user/clockIn', {
            params: {
                'latetime': latetime
            }
        })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            })
    }

    function clockOut() {
        sessionStorage.setItem("b", false);
        alert('下班打卡成功');
        var lock = document.getElementById("lock");
        outtime = lock.innerHTML;
        outtime1 = lock.innerHTML;
        outtime1 = new Date();
        var outlock = outtime1.getTime();
        var outlocktime = new Date(new Date().toLocaleString().split(' ')[0] + ' 18:00:00').getTime() - outlock;
        var hours = Math.floor(outlocktime / (3600 * 1000));
        var level = outlocktime % (3600 * 1000);
        var minutes = Math.floor(level / (60 * 1000));
        sessionStorage.setItem("outtime", outtime);
        sessionStorage.setItem("hours2", hours);
        sessionStorage.setItem("minutes2", minutes);
        sessionStorage.setItem("outlocktime", outlocktime);
        if (outlocktime > 0) {
            document.getElementById("outtime").innerHTML = '打卡时间' + sessionStorage.getItem("outtime") + ',' + '早退' + hours + '小时' + minutes + '分钟';
        } else {
            document.getElementById("outtime").innerHTML = '打卡时间' + sessionStorage.getItem("outtime");
        }
        document.getElementById("clockOut").style.visibility = "hidden";

        axios.get('http://localhost:8080/user/clockOut', {
            params: {
                'outlocktime': outlocktime
            }
        })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            })
    }
</script>

<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>