<!DOCTYPE html>
<html lang="en" class="ie8">
<html lang="en" class="ie9">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="utf-8"/>
    <title>更换头像</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="../media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="../media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../media/css/select2_metro.css"/>
    <link rel="stylesheet" href="../media/css/DT_bootstrap.css"/>
    <link rel="shortcut icon" href="../media/image/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../uploadImage/css/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="../uploadImage/css/amazeui.min.css">
    <link rel="stylesheet" href="../uploadImage/css/amazeui.cropper.css">
    <link rel="stylesheet" href="../uploadImage/css/custom_up_img.css">
</head>
<script>
    function load() {
        window.setInterval('showRealTime(clock)', 1000);
    }

    function showRealTime(clock) {
        var d = new Date();
        var year = d.getFullYear();
        var month = d.getMonth() + 1;
        var date = d.getDate();
        var days = new Array("日", "一", "二", "三", "四", "五", "六");
        var day = d.getDay();
        var hour = (d.getHours() < 10) ? ("0" + d.getHours()) : d.getHours();
        var min = (d.getMinutes() < 10) ? ("0" + d.getMinutes()) : d.getMinutes();
        var sec = (d.getSeconds() < 10) ? ("0" + d.getSeconds()) : d.getSeconds();
        var now = year + "年 " + month + "月 " + date + "日 星期 " + days[day] + " " + hour + ":" + min + ":" + sec;
        clock.innerHTML = now;
    }
</script>

<body class="page-header-fixed" onload="load()">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

        <div class="container-fluid">

            <!-- BEGIN LOGO -->

            <a class="brand" href="index.html">
                <img src="../media/image/logo.png" alt="logo"/>
            </a>

            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->

            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                <img src="../media/image/menu-toggler.png" alt=""/>

            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->

            <ul class="nav pull-right">

                <!-- BEGIN NOTIFICATION DROPDOWN -->


                <li class="dropdown" id="header_notification_bar" style="margin-top: 13px;position: relative">

                    <span id="clock" style="color: white;"></span>

                </li>



                <li class="dropdown user">
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" style="width: 29px;height:29px;" th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}==null?@{media/image/avatar1_small.jpg}:${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}"/>
                        <!--<img src="E:/uploadFile/image/xiaohuangren.jpg" alt="">-->
                        <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}"></span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/findLoginUser}"><i class="icon-user"></i> 我的信息</a></li>
                        <li><a th:href="@{/skip}"><i class="icon-lock"></i> 修改密码</a></li>
                        <li><a th:href="@{/changeImage.html}"><i class="icon-github"></i> 更换头像</a></li>
                        <li><a th:href="@{/punch_lock.html}"><i class="icon-calendar"></i> 打卡</a></li>
                        <li><a th:href="@{/logout}"><i class="icon-off"></i> 退出</a></li>
                    </ul>
                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->

        </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

</div>

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">

    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar nav-collapse collapse">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu">

            <li>

                <div class="sidebar-toggler hidden-phone">
                </div>

            </li>





            <!--行政管理-->

            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_HR')">
                <a class="active" href="javascript:;">
                    <i class="icon-sitemap"></i>
                    <span class="title">行政管理</span>

                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">人事管理
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/findAllUser}">职工基本信息管理</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT')"><a th:href="@{/findDept}">部门信息管理</a></li>
                            <li><a th:href="@{/findUserBySalary}">职工工资管理</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT')">
                        <a href="javascript:;">
                            考勤管理
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;">考勤规则
                                <span class="arrow"></span></a>
                                <ul class="sub-menu">
                                    <li><a th:href="@{lock_time.html}">考勤时间</a></li>
                                    <li><a th:href="@{person_ruler.html}">人性化规则</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{findAllClock}">考勤情况
                                <span class="arrow"></span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <!--公文管理-->
            <li sec:authorize="hasAnyRole('ROLE_ROOT', 'ROLE_HR', 'ROLE_MOF', 'ROLE_MUD', 'ROLE_MUR','ROLE_MUN','ROLE_MOL','ROLE_MOI','ROLE_MFS','ROLE_MUC','ROLE_MCS','ROLE_LS','ROLE_PM')">
                <a href="javascript:;">
                    <i class="icon-user"></i>
                    <span class="title">公文管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li >
                        <a th:href="@{/findDocumentTemplate}">
                            公文设计</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','MOF','ROLE_MUD','ROLE_MOR','ROLE_MON','ROLE_MOL','ROLE_PM')">
                        <a th:href="@{/findDocument}">
                            公文的上传和下载</a>
                    </li>
                </ul>
            </li>
            <!--档案管理-->
            <li>
                <a class="active" href="javascript:;">
                    <i class="icon-envelope"></i>
                    <span class="title">档案管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a th:href="@{/findLoginUser}">个人档案
                        </a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','MOF','ROLE_MUD','ROLE_MOR','ROLE_MON','ROLE_MOL')">
                        <a href="javascript:;">部门档案
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOF')"><a th:href="@{/findFile(fileType='财政部')}">财政部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MUD')"><a th:href="@{/findFile(fileType='城建部')}">城建部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOR')"><a th:href="@{/findFile(fileType='交通部')}">交通部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON')"><a th:href="@{/findFile(fileType='新闻部')}">新闻部</a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MOL')"><a th:href="@{/findFile(fileType='后勤部')}">后勤部</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ROOT')">
                        <a th:href="@{/findFile(fileType='政府')}">政府档案
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--新闻管理-->
            <li >
                <a href="javascript:;">
                    <i class="icon-file-text"></i>
                    <span class="title">新闻管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li sec:authorize="hasAnyRole('ROLE_ROOT','ROLE_MON','ROLE_MOI')">
                        <a href="release_news.html">
                            发布新闻</a>
                    </li>
                    <li>
                        <a th:href="@{/findAllNews}">
                            查看新闻</a>
                    </li>
                </ul>
            </li>
            <!--图表-->
            <li  class="active" sec:authorize="hasAnyRole('ROLE_ROOT')">
                <a href="javascript:;">
                    <i class="icon-file-text"></i>
                    <span class="title">图表分析</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li >
                        <a href="echarts_dept.html">
                            部门情况分析图</a>
                    </li>
                    <li>
                        <a href="echarts_File.html">
                            档案情况分析图</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- END SIDEBAR MENU -->

    </div>

    <!-- END SIDEBAR -->

    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>portlet Settings</h3>

            </div>

            <div class="modal-body">

                <p>Here will be a configuration form</p>

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN STYLE CUSTOMIZER -->

                    <div class="color-panel hidden-phone">
                        <div class="color-mode-icons icon-color"></div>
                        <div class="color-mode-icons icon-color-close"></div>
                        <div class="color-mode">
                            <p>主题色彩</p>
                            <ul class="inline">
                                <li class="color-black current color-default" data-style="default"></li>
                                <li class="color-blue" data-style="blue"></li>
                                <li class="color-brown" data-style="brown"></li>
                                <li class="color-purple" data-style="purple"></li>
                                <li class="color-grey" data-style="grey"></li>
                                <li class="color-white color-light" data-style="light"></li>

                            </ul>

                            <label>

                                <span>布局</span>
                                <select class="layout-option m-wrap small">
                                    <option value="fluid" selected>流体</option>
                                    <option value="boxed">盒状</option>
                                </select>

                            </label>

                            <label>

                                <span>头部</span>
                                <select class="header-option m-wrap small">
                                    <option value="fixed" selected>固定</option>
                                    <option value="default">默认</option>
                                </select>
                            </label>

                            <label>

                                <span>侧边栏</span>
                                <select class="sidebar-option m-wrap small">
                                    <option value="fixed">固定</option>
                                    <option value="default" selected>默认</option>
                                </select>

                            </label>

                            <label>

                                <span>页脚</span>
                                <select class="footer-option m-wrap small">
                                    <option value="fixed">固定</option>
                                    <option value="default" selected>默认</option>
                                </select>
                            </label>

                        </div>

                    </div>

                    <!-- END BEGIN STYLE CUSTOMIZER -->

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        行政管理
                        <small>修改头像</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>
                            <i class="icon-home"></i>
                            <a href="index.html">主页</a>
                            <i class="icon-angle-right"></i>
                        </li>

                        <li>

                            <a href="#">修改图像</a>

                        </li>


                    </ul>


                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="portlet box light-grey">

                <div class="portlet-title">
                    <div class="caption"><i class="icon-globe"></i>修改头像</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>

                </div>

                <div class="portlet-body">


                    <center>
                        <div class="up-img-cover"  id="up-img-touch" >
                            <img class="am-circle" alt="点击图片上传" th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.image}" data-am-popover="{content: '点击上传', trigger: 'hover focus'}" >
                        </div>
                    </center>

                        <div><a style="text-align: center; display: block;"  id="pic"></a></div>
                        <!--图片上传框-->
                        <div class="am-modal am-modal-no-btn up-frame-bj " tabindex="-1" id="doc-modal-1">
                            <div class="am-modal-dialog up-frame-parent up-frame-radius">
                                <div class="am-modal-hd up-frame-header">
                                    <label>修改头像</label>
                                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                                </div>
                                <div class="am-modal-bd  up-frame-body">

                                    <div class="am-g am-fl">
                                        <div class="am-form-group am-form-file">
                                            <div class="am-fl">
                                                <button type="button" class="am-btn am-btn-default am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                                            </div>
                                            <input type="file" id="inputImage">
                                        </div>
                                    </div>
                                    <div class="am-g am-fl" >
                                        <div class="up-pre-before up-frame-radius">
                                            <img alt="" src="" id="image" >
                                        </div>
                                        <div class="up-pre-after up-frame-radius">
                                        </div>
                                    </div>
                                    <div class="am-g am-fl">
                                        <div class="up-control-btns">
                                            <span class="am-icon-rotate-left"  onclick="rotateimgleft()"></span>
                                            <span class="am-icon-rotate-right" onclick="rotateimgright()"></span>
                                            <span class="am-icon-check" id="up-btn-ok" ></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--加载框-->
                        <!--<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">-->
                            <!--<div class="am-modal-dialog">-->
                                <!--<div class="am-modal-hd">正在上传...</div>-->
                                <!--<div class="am-modal-bd">-->
                                    <!--<span class="am-icon-spinner am-icon-spin"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--警告框-->
                        <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                            <div class="am-modal-dialog">
                                <div class="am-modal-hd">信息</div>
                                <div class="am-modal-bd"  id="alert_content">
                                    成功了
                                </div>
                                <div class="am-modal-footer">
                                    <span class="am-modal-btn">确定</span>
                                </div>
                            </div>
                        </div>


                        <!--<form th:action="@{/uploadImage}" method="post"  class="file" enctype="multipart/form-data">-->
                            <!--<label>上传图片</label>-->
                            <!--<input type="file" name="file"/>-->
                            <!--&lt;!&ndash;<input type="submit" value="选择图片"/>&ndash;&gt;-->
                            <!--<button type="submit" class="button btn-danger">上传</button>-->
                        <!--</form>-->




                </div>


            </div>

        </div>

    </div>

</div>
<div class="footer">

    <div class="footer-inner">
        2019 &copy; gk by nuc.edu.cn from <a href="http://www.nuc.edu.cn/" title="中北大学" target="_blank">中北大学</a>
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
    </div>

</div>

<script src="../media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="../media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="../media/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../media/js/excanvas.min.js"></script>
<script src="../media/js/respond.min.js"></script>
<script src="../media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="../media/js/jquery.uniform.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../media/js/select2.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../media/js/DT_bootstrap.js"></script>
<script src="../media/js/app.js"></script>
<script src="../media/js/table-advanced.js"></script>
<script src="../uploadImage/js/amazeui.min.js" charset="utf-8"></script>
<script src="../uploadImage/js/cropper.min.js" charset="utf-8"></script>
<script src="../uploadImage/js/custom_up_img.js" charset="utf-8"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        TableAdvanced.init();
    });
    
    function uploadImage() {
        var formData = new FormData($("#uploadForm")[0])  //创建一个forData
        formData.append('file', $('#inputImage')[0].files[0]) //把file添加进去  name命名为img
        console.log("...................."+$('#inputImage')[0].files[0])
        $.ajax({
            url: "http://localhost:8080/uploadImage",
            data: formData,
            type: "POST",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
            //成功
        },
        error: function() {
            //失败
        }
    })
    }
</script>
<style >
    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
</style>
<style type="text/css">
    .up-img-cover {width: 100px;height: 100px;}
    .up-img-cover img{width: 100%;}
</style>
</body>

</html>